# Смотрим на видовую структуру

In [1]:
import pandas as pd
import numpy as np

In [9]:
def species_extract(row):
    splited = row[1].split('_')
    if len(splited)>1:
        return f"{splited[0]}_{splited[1]}"
    elif len(splited)==1:
        return f"{splited[0]}_sp"
    return row[1]

## Load table

In [8]:
df = pd.read_excel(r'../raw_data/Enterobacterales_Prok2111.xlsx', usecols=[0,4], names=['ID','Strain'])

In [10]:
df['Species'] = df.apply(species_extract, axis=1)

In [11]:
df.head()

,ID,Strain,Species
0,GCF_016865525.2,Sodalis_dw_23,Sodalis_dw
1,GCF_004295645.1,Jinshanibacter_zhutongyuii_CF-458,Jinshanibacter_zhutongyuii
2,GCF_900478135.1,Leminorella_richardii_NCTC12151,Leminorella_richardii
3,GCF_902386615.1,Leminorella_richardii,Leminorella_richardii
4,GCF_003096015.2,Limnobaculum_parvum_HYN0051,Limnobaculum_parvum

In [13]:
print(f"The number of species: {df['Species'].nunique()}")

The number of species: 421

In [14]:
print(f"The number of genomes: {df['ID'].nunique()}")

The number of genomes: 5798

In [54]:
df.to_excel(r'../raw_data/table_species.xlsx', index=False)

## Group

In [18]:
df_group = df.groupby(['Species'], as_index=False).agg({'ID':'count'})
df_group.columns = ['Species','Num_of_Genomes']
df_group.sort_values('Num_of_Genomes', ascending=False).head(10)

                        Species  Num_of_Genomes
184            Escherichia_coli            1858
349         Salmonella_enterica            1026
221       Klebsiella_pneumoniae             937
156     Enterobacter_hormaechei             144
91         Citrobacter_freundii             130
376         Serratia_marcescens              96
222  Klebsiella_quasipneumoniae              75
303           Proteus_mirabilis              73
155        Enterobacter_cloacae              60
413             Yersinia_pestis              56

In [17]:
df_group.sort_values('Num_of_Genomes', ascending=False).tail(15)

                         Species  Num_of_Genomes
169                 Erwinia_J780               1
168               Erwinia_Ejp617               1
167                 Erwinia_E602               1
164            Enterobacter_soli               1
163    Enterobacter_sichuanensis               1
161  Enterobacter_oligotrophicus               1
154    Enterobacter_chengduensis               1
150       Enterobacter_SGAir0187               1
149           Enterobacter_SA187               1
148    Enterobacter_RHBSTW-00994               1
147    Enterobacter_RHBSTW-00975               1
146    Enterobacter_RHBSTW-00593               1
145    Enterobacter_RHBSTW-00422               1
144       Enterobacter_RHB15-C17               1
420        synthetic_Escherichia               1

In [19]:
df_group[df_group['Num_of_Genomes']>9]['Species'].nunique()

48

In [20]:
df_group.sort_values('Num_of_Genomes', ascending=False).to_excel(r'../raw_data/bacterial_species.xlsx', index=False)

Смотрим по родам

In [21]:
df['Genus'] = df['Strain'].map(lambda x: x.split('_', maxsplit=1)[0])

In [22]:
df.head()

,ID,Strain,Species,Genus
0,GCF_016865525.2,Sodalis_dw_23,Sodalis_dw,Sodalis
1,GCF_004295645.1,Jinshanibacter_zhutongyuii_CF-458,Jinshanibacter_zhutongyuii,Jinshanibacter
2,GCF_900478135.1,Leminorella_richardii_NCTC12151,Leminorella_richardii,Leminorella
3,GCF_902386615.1,Leminorella_richardii,Leminorella_richardii,Leminorella
4,GCF_003096015.2,Limnobaculum_parvum_HYN0051,Limnobaculum_parvum,Limnobaculum

In [52]:
print(f"The number of genus: {df['Genus'].nunique()}")

The number of genus: 62

In [23]:
df_group_genus = df.groupby(['Genus'], as_index=False).agg({'ID':'count'})
df_group_genus.columns = ['Genus','Num_of_Genomes']
df_group_genus.sort_values('Num_of_Genomes', ascending=False)

           Genus  Num_of_Genomes
17   Escherichia            1936
23    Klebsiella            1204
49    Salmonella            1056
13  Enterobacter             326
9    Citrobacter             242
..           ...             ...
19    Gibbsiella               1
18     Ewingella               1
16   Erwiniaceae               1
8         Chania               1
61     synthetic               1

[62 rows x 2 columns]

In [24]:
df_group_genus.sort_values('Num_of_Genomes', ascending=False).to_excel(r'../raw_data/bacterial_genus.xlsx', index=False)

In [26]:
df_group_genus[df_group_genus['Num_of_Genomes']>4]['Genus'].nunique()

31

## Structure

In [30]:
df.head()

,ID,Strain,Species,Genus
0,GCF_016865525.2,Sodalis_dw_23,Sodalis_dw,Sodalis
1,GCF_004295645.1,Jinshanibacter_zhutongyuii_CF-458,Jinshanibacter_zhutongyuii,Jinshanibacter
2,GCF_900478135.1,Leminorella_richardii_NCTC12151,Leminorella_richardii,Leminorella
3,GCF_902386615.1,Leminorella_richardii,Leminorella_richardii,Leminorella
4,GCF_003096015.2,Limnobaculum_parvum_HYN0051,Limnobaculum_parvum,Limnobaculum

In [31]:
df.groupby(['Genus','Species'], as_index=False).agg({'ID':'count'}).sort_values(['Genus'], ascending=False).head(30)

              Genus                      Species  ID
420       synthetic        synthetic_Escherichia   1
419       secondary       secondary_endosymbiont   3
418       Yokenella       Yokenella_regensburgei   1
409        Yersinia          Yersinia_intermedia   5
401        Yersinia            Yersinia_FDAARGOS   1
402        Yersinia             Yersinia_KBS0713   1
403        Yersinia             Yersinia_aldovae   1
404        Yersinia          Yersinia_aleksiciae   1
405        Yersinia            Yersinia_canariae   1
406        Yersinia      Yersinia_enterocolitica  22
407        Yersinia       Yersinia_frederiksenii   3
408        Yersinia           Yersinia_hibernica   1
410        Yersinia        Yersinia_kristensenii   2
411        Yersinia        Yersinia_massiliensis   2
412        Yersinia          Yersinia_mollaretii   1
413        Yersinia              Yersinia_pestis  56
414        Yersinia  Yersinia_pseudotuberculosis  24
415        Yersinia              Yersinia_rohdei   1
416        Yersinia             Yersinia_ruckeri   6
417        Yersinia             Yersinia_similis   1
398     Xenorhabdus       Xenorhabdus_hominickii   1
396     Xenorhabdus    Xenorhabdus_budapestensis   1
397     Xenorhabdus        Xenorhabdus_doucetiae   1
395     Xenorhabdus         Xenorhabdus_bovienii   2
399     Xenorhabdus      Xenorhabdus_nematophila   3
400     Xenorhabdus         Xenorhabdus_poinarii   1
394  Wigglesworthia   Wigglesworthia_glossinidia   2
393       Tatumella             Tatumella_citrea   2
392         Sodalis                   Sodalis_dw   1
391      Shimwellia           Shimwellia_blattae   3

In [33]:
groupby_genus = df.groupby(['Genus', 'Species']).agg({'ID':'count'})
groupby_genus

                                         ID
Genus         Species
Arsenophonus  Arsenophonus_endosymbiont   3
              Arsenophonus_nasoniae       1
Atlantibacter Atlantibacter_hermannii     3
Blochmannia   Blochmannia_endosymbiont    4
Brenneria     Brenneria_goodwinii         1
...                                      ..
Yersinia      Yersinia_ruckeri            6
              Yersinia_similis            1
Yokenella     Yokenella_regensburgei      1
secondary     secondary_endosymbiont      3
synthetic     synthetic_Escherichia       1

[421 rows x 1 columns]

In [35]:
groupby_genus[groupby_genus['ID']>4].to_excel('../raw_data/genus_species_structure2.xlsx')

### At least 10 genomes in genus

In [46]:
df_group_genus[df_group_genus['Num_of_Genomes']>9]['Genus'].nunique()

23

In [37]:
group_at_least10 = df_group_genus[df_group_genus['Num_of_Genomes']>9]['Genus'].unique()
group_at_least10

array(['Buchnera', 'Candidatus', 'Citrobacter', 'Cronobacter', 'Dickeya',
       'Edwardsiella', 'Enterobacter', 'Erwinia', 'Escherichia', 'Hafnia',
       'Klebsiella', 'Kosakonia', 'Leclercia', 'Morganella', 'Pantoea',
       'Pectobacterium', 'Proteus', 'Providencia', 'Raoultella',
       'Salmonella', 'Serratia', 'Shigella', 'Yersinia'], dtype=object)

In [42]:
df_atleat10 = df[df['Genus'].isin(group_at_least10)].groupby(['Genus','Species']).agg({'ID':'count'})

In [43]:
df_atleat10.sort_values(['Genus'], ascending=False).head(30)

                                      ID
Genus    Species
Yersinia Yersinia_similis              1
         Yersinia_intermedia           5
         Yersinia_FDAARGOS             1
         Yersinia_KBS0713              1
         Yersinia_aldovae              1
         Yersinia_aleksiciae           1
         Yersinia_canariae             1
         Yersinia_enterocolitica      22
         Yersinia_frederiksenii        3
         Yersinia_hibernica            1
         Yersinia_kristensenii         2
         Yersinia_massiliensis         2
         Yersinia_mollaretii           1
         Yersinia_pestis              56
         Yersinia_pseudotuberculosis  24
         Yersinia_rohdei               1
         Yersinia_ruckeri              6
Shigella Shigella_dysenteriae         11
         Shigella_PAMC                 1
         Shigella_boydii              11
         Shigella_flexneri            13
         Shigella_sonnei               1
Serratia Serratia_P2ACOL2              1
         Serratia_MYb239               1
         Serratia_LS-1                 1
         Serratia_JSRIV004             1
         Serratia_JSRIV002             1
         Serratia_JSRIV001             1
         Serratia_HRI                  1
         Serratia_FS14                 1

In [45]:
df_atleat10.to_excel(r'../raw_data/Genomes_atleast10.xlsx')

### At least 5 genomes in genus

In [47]:
df_group_genus[df_group_genus['Num_of_Genomes']>4]['Genus'].nunique()

31

In [48]:
group_at_least5 = df_group_genus[df_group_genus['Num_of_Genomes']>4]['Genus'].unique()
group_at_least5

array(['Buchnera', 'Candidatus', 'Cedecea', 'Citrobacter', 'Cronobacter',
       'Dickeya', 'Edwardsiella', 'Enterobacter', 'Enterobacteriaceae',
       'Erwinia', 'Escherichia', 'Hafnia', 'Klebsiella', 'Kluyvera',
       'Kosakonia', 'Leclercia', 'Lelliottia', 'Mixta', 'Morganella',
       'Pantoea', 'Pectobacterium', 'Photorhabdus', 'Proteus',
       'Providencia', 'Rahnella', 'Raoultella', 'Salmonella', 'Serratia',
       'Shigella', 'Xenorhabdus', 'Yersinia'], dtype=object)

In [49]:
df_atleat5 = df[df['Genus'].isin(group_at_least5)].groupby(['Genus','Species']).agg({'ID':'count'})

In [50]:
df_atleat5.sort_values(['Genus'], ascending=False).head(30)

                                         ID
Genus       Species
Yersinia    Yersinia_similis              1
            Yersinia_intermedia           5
            Yersinia_FDAARGOS             1
            Yersinia_KBS0713              1
            Yersinia_aldovae              1
            Yersinia_aleksiciae           1
            Yersinia_canariae             1
            Yersinia_enterocolitica      22
            Yersinia_frederiksenii        3
            Yersinia_hibernica            1
            Yersinia_kristensenii         2
            Yersinia_massiliensis         2
            Yersinia_mollaretii           1
            Yersinia_pestis              56
            Yersinia_pseudotuberculosis  24
            Yersinia_rohdei               1
            Yersinia_ruckeri              6
Xenorhabdus Xenorhabdus_hominickii        1
            Xenorhabdus_bovienii          2
            Xenorhabdus_doucetiae         1
            Xenorhabdus_budapestensis     1
            Xenorhabdus_nematophila       3
            Xenorhabdus_poinarii          1
Shigella    Shigella_sonnei               1
            Shigella_flexneri            13
            Shigella_dysenteriae         11
            Shigella_boydii              11
            Shigella_PAMC                 1
Serratia    Serratia_FGI94                1
            Serratia_MYb239               1

In [51]:
df_atleat5.to_excel(r'../raw_data/Genomes_atleast5.xlsx')

## Exports lists of ID for downloading

In [33]:
def genus_writer(genus):
    genomes = set(df[df['Genus']==genus]['ID'])
    print(f"The number of genomes: {len(genomes)}")
    with open (f'../raw_data/{genus}.txt', 'w') as out:
        for g in genomes:
            out.write(f"{g}\n")

In [34]:
genus_writer('Erwinia')

The number of genomes: 31

In [35]:
genus_writer('Cronobacter')

The number of genomes: 23

In [36]:
genus_writer("Yersinia")

The number of genomes: 129